// fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//colors@at-root
:root{
--body-color: #E4E9F7;
--sidebar-color: #FFF;
--primary-color: #695CFE;
--primary-color-light: #F6F5FF;
--toggle-color: #DDD;
--text-color: #707070;
}
//transition
$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;
///////////////////
body {
    height: 100vh;
    background-color: var(--body-color);
    transition: $tran-02;
}
body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

/////////////REUSABLE CSS ////////////
.sidebar {
    header {
        .image-text {
            .text {
                font-size: 16px;
                font-weight: 500;
                color: var(--text-color);
            }
            .image {
                width: 60px;
                display: flex;
                align-items: center;
            }
        }
    }
}

////////// SIDEBAR //////////////////
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: $tran-03;
    header {
        position: relative;
        .image-text {
            display: flex;
            align-items: center;
            img {
                width: 40px;
                border-radius: 6px;
            }
            .header-text {
                display: flex;
                flex-direction: column;
            }
        }
        .toggle {
            position: absolute;
            top: 50%;
            right: -25px;
            transform: translateY(-50%);
            height: 25px;
            width: 25px;
            background-color: var(--primary-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: var(--sidebar-color);
            font-size: 22px;
        }
    }
    .search-box {
        background-color: var(--primary-color-light);
        input {
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 6px;
            background-color: var(--primary-color-light);
        }
    }
}

.sidebar {
    li {
        height: 50px;
        margin-top: 10px;
        list-style: none;
        display: flex;
        align-items: center;
        .icon {
            min-width: 60px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-color);
        }
        .text {
            color: var(--text-color);
            transition: $tran-03;
            white-space: nowrap;
            opacity: 1;
        }
        a {
            height: 100%;
            display: flex;
            width: 100%;
            border-radius: 6px;
            align-items: center;
            text-decoration: none;
            transition: $tran-04;
            &:hover {
                background-color: var(--primary-color);
                .icon,
                .text {
                    color: var(--sidebar-color);
                    transition: $tran-02;
                }
            }
        }
    }
}

.navbar .search-box {

}

.header-text {
    .name {
        font-weight: 600;
    }
    .profession {
        margin-top: -2px;
    }
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .mode {
        position: relative;
        border-radius: 6px;
        background: var(--primary-color-light);
        
        .moon-sun {
            height: 50px;
            width: 60px;
            display: flex;
            align-items: center;
            i {
                position: absolute;
            }
            i.sun {
                opacity: 0;
            }
        }
        ///creating bottom - button
        .toggle-switch {
            position: absolute;
            display: flex;
            height: 100%;
            right: 0;
            align-items: center;
            justify-content: center;
            min-width: 60px;
            cursor: pointer;
            .switch {
                position: relative;
                height: 22px;
                width: 44px;
                border-radius: 25px;
                background: var(--toggle-color);
            }
        }
    }
}

/////////dark theme

.switch::before {
    content: ' ';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: $tran-03;
}

body.dark {
    .switch::before {
        left: 25px;
    }

}

/// close sidebar
.sidebar.close{
    width: 88px;
    transition: $tran-03;
    .text{
        opacity: 0;
    }
}

.menu-bar .mode .toggle-switch{
    position: absolute;
}

.sidebar.close header .toggle{
    transform: translateY(-50%) rotate(180deg);
    transition: $tran-04;
}
.sidebar header .toggle{
    
    transition: $tran-04;
}